
    <main class="container">
        <h1>About Us</h1>
        <div class="row">
            <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                <div class="services-list">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-md-4">
                            <div class="service-block" style="visibility: visible;">

                                <div class="text-block">
                                    <div class="text"> th B group is a small owned bussiness that started
                                    back in 2020 during this time of lockdown we took the opportunity to create spelcial
                                    ballon garland remotely to clients as everyone could not leave the house. now we are
                                    full running Business supply event materials and planing events Big to Small!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-md-4">
                            <div class="service-block" style="visibility: visible;">

                                <div class="text-block">
                                    <img src="https://th.bing.com/th/id/OIP.EldR8RHr9qgHNCypzq2VwAHaFt?w=227&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"
                                         alt="event planner group img">
                                </div>
                            </div>
                        </div>
    </main>

