
    <main class="container">
        <h1>Our Projects</h1>
        <section id="projects" class="current">
            <div class="services-top">
                <div class="container bootstrap snippets bootdey">
                    <div class="row text-center">
                        <div class="col-sm-12 col-md-12 col-md-12">
                            <h2>Take a look at some of Our best Projects</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">

                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-md-4">
                                        <img src="https://th.bing.com/th/id/OIP.uzJHXhE05pvsMFiQLeQsQQAAAA?pid=ImgDet&rs=1"
                                             class="rounded float-left" alt="project 1 img">
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-md-4">
                                        <img src="https://th.bing.com/th/id/OIP.9re1-hqtNUzdziRN2AiBTgAAAA?pid=ImgDet&rs=1"
                                             class="rounded mx-auto d-block" alt="...">
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-md-4">
                                        <img src="https://th.bing.com/th/id/OIP.56o6NPwTrIVnJgSHhtBTEQAAAA?pid=ImgDet&rs=1"
                                             class="rounded float-right" alt="project-image-2">

                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

